div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("./images/Grassy_Mountains_preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  
}
h1{
  
  font-family: 'Franklin Gothic Medium';
  
  font-size: 120px;
  color: rgb(128, 41, 80);
  margin: 50px;
  text-align: center;
}

button{
  color: orangered;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin: 50 50;
  background-color: blanchedalmond;
  width: 150px;
  height: 150px;
  transition: 0.5s all ease;
  cursor: pointer;
}
button:hover{
  background-color: rgb(128, 41, 80);
}